@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-wrapper {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.searchbar {
    padding-left: -5rem;
}

.searchbar-container {
    position: relative;
}

.searchbar {
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    outline: solid;
    outline-width: 2px;
    outline-color: green;
}

.searchbar-label {
    text-align: center;
    position: absolute;
    top: 4px;
    left: 10px;
}